In [16]:
import pandas as pd
import os
os.chdir("E:/pythontraining/imarticus/ML_python/hrdata_classification/") ## set working directory where data is available

### Import required libraries

##Support Vector Machine algorithms are not scale invariant, so it is highly recommended to scale your data.

In [10]:
# read the train and test dataset
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

# shape of the dataset
print('Shape of training data :',train_data.shape)
print('Shape of testing data :',test_data.shape)

Shape of training data : (54808, 14)
Shape of testing data : (23490, 13)

In [11]:
train_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [14]:
train_data.isnull().sum()/len(train_data)

employee_id             0.000000
department              0.000000
region                  0.000000
education               0.043953
gender                  0.000000
recruitment_channel     0.000000
no_of_trainings         0.000000
age                     0.000000
previous_year_rating    0.075244
length_of_service       0.000000
KPIs_met >80%           0.000000
awards_won?             0.000000
avg_training_score      0.000000
is_promoted             0.000000
dtype: float64

In [13]:
train_data['education'].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [15]:
train_data['previous_year_rating'].value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

### To do
### try replacing null values with mode ( both for education and previous_year_rating) for both train and test
### Do EDA- find outliers , if any
### Find distribution of numeric variables
### Check if there is some relation between target class and other categorical and numeric variables
### Perform One hot encoding for categorical columns

### Create prediction models using 

 * 1 Logistic Regression
 * 2 Knn
 * 3 naive Bayes
 * 4 KNN
 * 5 SVC ( support vector classification)
 
###### Check and compare different metrics for all the models



###### Additional approach
###### try creating a model for predicting previous_year_rating and then impute values using it